@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-light text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-dark;
}

html {
  scroll-behavior: smooth;
}
